@use '../../styles/spacing.scss';

.logo{
    width: 100%;
    max-width: 200px;
    display: block;
    margin: auto;
    height: 200px;
}

.title{
    text-align: center;
    @include spacing.setSpacingByLevel(margin, top, 1);
}

.button{
    min-width: 200px;
    @include spacing.setSpacingByLevel(margin, top, 2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.examplesTitle{
    text-align: center;
}